/* Variables */
body {
  margin: 0px;
  padding: 0px;
}

.contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.contenedor .main {
  min-height: calc(100vh - 180px - 17px);
  padding: 30px 100px;
  max-height: 2400px;
}

.contenedor .footer {
  background-color: black;
  height: 50px;
  width: 80%;
  margin: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor .footer p {
  font-size: 25px;
}

.comando {
  font-size: 1.2rem;
  color: #FFD700;
}

.ejemplo {
  color: #b5abec;
}

.formatoBasico {
  padding: 15px;
  display: inline-block;
  border-radius: 10px;
  margin: 8px;
  vertical-align: top;
  background-color: #21610B;
}

.formatoBasico:hover {
  background-color: black;
}

.formatoMedio {
  padding: 15px;
  display: inline-block;
  border-radius: 10px;
  margin: 8px;
  vertical-align: top;
  background-color: #2F584A;
}

.formatoMedio:hover {
  background-color: black;
}

.formatoAlto {
  padding: 15px;
  display: inline-block;
  border-radius: 10px;
  margin: 8px;
  vertical-align: top;
  background-color: #153329;
}

.formatoAlto:hover {
  background-color: black;
}

.comandoDeAyuda {
  width: 450px;
}

.comandossinCategoria {
  width: 500px;
}

.ls {
  width: 450px;
}

.cd {
  width: 450px;
  position: relative;
  top: -190px;
  bottom: 000px;
  left: 550px;
  right: 0px;
}

.crear {
  width: 450px;
  position: relative;
  top: 285px;
  bottom: 000px;
  left: 50px;
  right: 0px;
}

.cp {
  width: 450px;
  position: relative;
  top: -125px;
  bottom: 0px;
  left: 50px;
  right: 0px;
}

.mv {
  width: 500px;
  position: relative;
  top: -295px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.rm {
  width: 450px;
  position: relative;
  top: -205px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.cat {
  width: 450px;
  position: relative;
  top: -140px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.permisosOctal {
  width: 500px;
  position: relative;
  top: -293px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.permisosCaracter {
  width: 450px;
  position: relative;
  top: -5px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.accesoDirecto {
  width: 450px;
  position: relative;
  top: -165px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.nano {
  width: 450px;
  position: relative;
  top: -470px;
  bottom: 0px;
  left: 1050px;
  right: 0px;
}

.tar {
  width: 500px;
  position: relative;
  top: -325px;
  bottom: 0px;
  left: -500px;
}

.instalarArchivos {
  width: 450px;
  position: relative;
  top: -200px;
  bottom: 0px;
  left: 00px;
}

.procesos {
  width: 450px;
  position: relative;
  top: -615px;
  bottom: 0px;
  left: 550px;
}

.concatenar {
  width: 500px;
  position: relative;
  top: -315px;
  bottom: 0px;
  left: -500px;
}

.scripting {
  width: 450px;
  position: relative;
  top: -400px;
  bottom: 0px;
  left: -500px;
}

.sistema {
  width: 450px;
  position: relative;
  top: -900px;
  bottom: 0px;
  left: 1050px;
}
/*# sourceMappingURL=styles.css.map */