/* Variables */

$colorComandos: #FFD700;
$colorEjemplo: #b5abec;

$largo1: 500px;
$largo2: 450px;

body{
    margin: 0px;
    padding: 0px;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: space-between;

    .main{

        min-height: calc(100vh - 180px - 17px);
        padding: 30px 100px;
        max-height: 2400px;
    }

    .footer{
        background-color: black;
        height: 50px;
        width: 80%;
        margin: auto;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; 
        display: flex;
        justify-content: center;
        align-items: center;                 

        p{
            font-size: 25px;              
        }
    }
}

.comando{
    font-size: 1.2rem;
    color: $colorComandos;
}

.ejemplo{
    color: $colorEjemplo;
}


@mixin formatoGeneral() {

    padding: 15px;
    display: inline-block;
    border-radius: 10px;    
    margin: 8px;
    vertical-align: top;    
}

.formatoBasico{

    @include formatoGeneral();
    background-color: #21610B;

    &:hover{
        background-color: black;
    }
}


.formatoMedio{

    @include formatoGeneral();
    background-color: #2F584A;    

    &:hover{
        background-color: black;
    }
}


.formatoAlto{

    @include formatoGeneral();
    background-color: #153329;    

    &:hover{
        background-color: black;
    }
}



.basesdedatos{

    width: $largo1;
}


.creartablas{
    width: $largo1;
}


.modificarTablas{
    width: $largo1;
}

.importar{
    width: $largo1;

    position: relative;
    top: -460px;
}

.consultas{
    width: $largo1;

    position: relative;
    top: -250px;
    left: -550px;
}

.comodines{
    width: $largo1;

    position: relative;
    top: -330px;
    left: -550px;
}